/node_modules
/public/hot
/public/storage
/public/mailbox
/storage/*.key
/.idea
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
/public/js/app.js
/public/css/app.css
